
@{
    Layout = "~/Views/Shared/Home.cshtml";
}
      <div id="simple_gallery">			  	
					<!-- slider -->
					<div class="gallery_bg">
						<div class="simple_gallery">
							<ul class="items">
								<li><img src="~/Home/images/slide.png" alt="" />
								<div class="banner">
                                   <div class="div-banner">
                                   	<span>mayitsra lertades</span>
                                   	<p>Fusce suscipirius. Cumsoc
                                   	satoque penatiet magnis diarturient nascetur cumontes.</p>
                                   	<a href="#">view recipe</a>
                                   </div>
                                </div></li>
								<li><img src="~/Home/images/slide-1.png" alt="" />
								<div class="banner">
                                   <div class="div-banner">
                                   	<span>Maecenas gerase</span>
                                   	<p>Fusce suscipirius. Cumsoc
                                   	satoque penatiet magnis diarturient nascetur cumontes.</p>
                                   	<a href="#">view recipe</a>
                                   </div>
                                </div></li>
								<li><img src="~/Home/images/slide-2.png" alt="" />
								<div class="banner">
                                   <div class="div-banner">
                                   	<span>nascetur cumontes</span>
                                   	<p>Fusce suscipirius. Cumsoc
                                   	satoque penatiet magnis diarturient nascetur cumontes.</p>
                                   	<a href="#">view recipe</a>
                                   </div>
                                </div></li>
								<li><img src="~/Home/images/slide-3.png" alt="" />
								<div class="banner">
                                   <div class="div-banner">
                                   	<span>satoque penatiet</span>
                                   	<p>Fusce suscipirius. Cumsoc
                                   	satoque penatiet magnis diarturient nascetur cumontes.</p>
                                   	<a href="#">view recipe</a>
                                   </div>
                                </div></li>
                                <li><img src="~/Home/images/slide-4.png" alt="" />
								<div class="banner">
                                   <div class="div-banner">
                                   	<span>magnis diarturient</span>
                                   	<p>Fusce suscipirius. Cumsoc
                                   	satoque penatiet magnis diarturient nascetur cumontes.</p>
                                   	<a href="#">view recipe</a>
                                   </div>
                                </div></li>
                                <li><img src="~/Home/images/slide-5.png" alt="" />
								<div class="banner">
                                   <div class="div-banner">
                                   	<span>mayitsra lertades</span>
                                   	<p>Fusce suscipirius. Cumsoc
                                   	satoque penatiet magnis diarturient nascetur cumontes.</p>
                                   	<a href="#">view recipe</a>
                                   </div>
                                </div></li>
                                <li><img src="~/Home/images/slide-6.png" alt="" />
								<div class="banner">
                                   <div class="div-banner">
                                   	<span>suscipirius Cumsoc</span>
                                   	<p>Fusce suscipirius. Cumsoc
                                   	satoque penatiet magnis diarturient nascetur cumontes.</p>
                                   	<a href="#">view recipe</a>
                                   </div>
                                </div></li>
                                
								<li><img src="~/Home/images/slide-1.png" alt="" />
								<div class="banner">
                                   <div class="div-banner">
                                   	<span>diarturient nascetur</span>
                                   	<p>Fusce suscipirius. Cumsoc
                                   	satoque penatiet magnis diarturient nascetur cumontes.</p>
                                   	<a href="#">view recipe</a>
                                   </div>
                                </div></li>
								<li><img src="~/Home/images/slide-2.png" alt="" />
								<div class="banner">
                                   <div class="div-banner">
                                   	<span>Fusce suscipirius</span>
                                   	<p>Fusce suscipirius. Cumsoc
                                   	satoque penatiet magnis diarturient nascetur cumontes.</p>
                                   	<a href="#">view recipe</a>
                                   </div>
                                </div></li>
								<li><img src="~/Home/images/slide-3.png" alt="" />
								<div class="banner">
                                   <div class="div-banner">
                                   	<span>nascetur magnis</span>
                                   	<p>Fusce suscipirius. Cumsoc
                                   	satoque penatiet magnis diarturient nascetur cumontes.</p>
                                   	<a href="#">view recipe</a>
                                   </div>
                                </div></li>
                                <li><img src="~/Home/images/slide-4.png" alt="" />
								<div class="banner">
                                   <div class="div-banner">
                                   	<span>magnis diarturient</span>
                                   	<p>Fusce suscipirius. Cumsoc
                                   	satoque penatiet magnis diarturient nascetur cumontes.</p>
                                   	<a href="#">view recipe</a>
                                   </div>
                                </div></li>
                                <li><img src="~/Home/images/slide-5.png" alt="" />
								<div class="banner">
                                   <div class="div-banner">
                                   	<span>satoque penatiet</span>
                                   	<p>Fusce suscipirius. Cumsoc
                                   	satoque penatiet magnis diarturient nascetur cumontes.</p>
                                   	<a href="#">view recipe</a>
                                   </div>
                                </div></li>
                                <li><img src="~/Home/images/slide-6.png" alt="" />
								<div class="banner">
                                   <div class="div-banner">
                                   	<span>penatiet magnis </span>
                                   	<p>Fusce suscipirius. Cumsoc
                                   	satoque penatiet magnis diarturient nascetur cumontes.</p>
                                   	<a href="#">view recipe</a>
                                   </div>
                                </div></li>
							</ul>
						</div>
					</div>
					<!-- slider end -->	
					<div class="pag">
						<div class="img-pags">
						  <ul>
							<li><a href="#"><span><img src="~/Home/images/pag-3.jpg" alt="" /></span></a></li>
                            <li><a href="#"><span><img src="~/Home/images/pag-2.jpg" alt="" /></span></a></li>
                            <li><a href="#"><span><img src="~/Home/images/pag-1.jpg" alt="" /></span></a></li>
                            <li><a href="#"><span><img src="~/Home/images/pag.jpg" alt="" /></span></a></li>
                            <li><a href="#"><span><img src="~/Home/images/pag-6.jpg" alt="" /></span></a></li>
                            <li><a href="#"><span><img src="~/Home/images/pag-5.jpg" alt="" /></span></a></li>
							<li><a href="#"><span><img src="~/Home/images/pag-3.jpg" alt="" /></span></a></li>
                                                            ~
                            <li><a href="#"><span><img src="~/Home/images/pag-2.jpg" alt="" /></span></a></li>
                            <li><a href="#"><span><img src="~/Home/images/pag-1.jpg" alt="" /></span></a></li>
                            <li><a href="#"><span><img src="~/Home/images/pag.jpg" alt="" /></span></a></li>
                            <li><a href="#"><span><img src="~/Home/images/pag-6.jpg" alt="" /></span></a></li>
                            <li><a href="#"><span><img src="~/Home/images/pag-5.jpg" alt="" /></span></a></li>
							<li><a href="#"><span><img src="~/Home/images/pag-3.jpg" alt="" /></span></a></li>
						  </ul>  
						</div>								
						<a href="#" class="btn prev " data-type="prevPage"><span></span></a>
						<a href="#" class="btn next" data-type="nextPage"><span></span></a>
					</div>
				</div>
		<!--==============================content================================-->
<section id="content">         
  <div class="container_24">
    <div class="wrapper bg-wrapper">
	    <div class="grid_18 bg-grid top-2">
	    	<div class="bg-grid">
	    		<div class="grid_6 marg-left-0">
	    		    <img src="~/Home/images/page-img.png" alt="" class="image top">
	    		</div>
	    		<div class="grid_11 suffix_1 marg-right-0">
	    		    <h2 class="txt-al padd">We Publish Only The Best Popular Recipes For You!</h2>
	    		    <strong>Asdera lauda ntiusp astaseauae abersase mertyasera</strong>
	    		    <p class="bot">illoinre veritatis etasi litobea taevitare psam voluptmquia voluasipern
	    		atuesler miase lerosac mertyuade. Masaut odit autfugit, seduia consunture
	    		magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro 
	    		adipisci velit, sed quia non numquam.</p>
	    		   <a href="#" class="color hov bold ">Read More About Us</a>
	    		</div>
                <div class="clear"></div>
	    	</div>
            
            <h2 class="padd-1">Best Of The Week Recipes Collection</h2>
            
            <div class="grid_5 marg-left-0 suffix_1 txt-al">
               <img src="~/Home/images/page-img-1.png" alt="" class="image">
               <h3 class="padd-2">Miastare Latsaera</h3>
               <p class="font-14">Lume laceanrit tasude
eduscase. Eeas jertyase
. Maecenas gerase
tristique oresas ricieshera 
pharetra acmsanea. </p>
               <a href="#" class="button top-1">Read More<span></span></a>
            </div>
            <div class="grid_5 suffix_1 txt-al">
               <img src="~/Home/images/page-img-2.png" alt="" class="image">
               <h3 class="padd-2">Freyua Latrse</h3>
               <p class="font-14">Lume laceanrit tasude
eduscase. Eeas jertyase
. Maecenas gerase
tristique oresas ricieshera 
pharetra acmsanea. </p>
              <a href="#" class="button top-1">Read More<span></span></a>
            </div>
            <div class="grid_5 marg-right-0 txt-al">
               <img src="~/Home/images/page-img-3.png" alt="" class="image">
               <h3 class="padd-2">Ertyas Kases</h3>
               <p class="font-14">Lume laceanrit tasude
eduscase. Eeas jertyase
. Maecenas gerase
tristique oresas ricieshera 
pharetra acmsanea. </p>
              <a href="#" class="button top-1">Read More<span></span></a>
            </div>
            
	    </div>
        
        <div class="grid_6">
           <div class="box">
               <span class="title-box left">Fresh Recipes</span>
               <ul class="list bg-list top-3">
               	<li><a href="#">Monlase duscehertser </a></li>
               	<li><a href="#">Gravida atsnctus aloecen</a></li>
               	<li><a href="#">Magna onccumsan</a></li>
               </ul>   
               <span class="title-box left">Popular Recipes</span>
               <ul class="list bg-list top-1">
               	<li><a href="#">Baser uscehe ratsease </a></li>
               	<li><a href="#">Nesneuctus aloecen kerera
maserteasr</a></li>
               	<li><a href="#">Onec accumsan </a></li>
               </ul>   
               <span class="title-box left">Recipes for Vegan</span>
               <ul class="list top-1 bot-1">
               	<li><a href="#">Uscehe ratsease </a></li>
               	<li><a href="#">Kero asmaserte asrate</a></li>
               	<li><a href="#">Scertas msan leas male</a></li>
                <li><a href="#">Asit aconipiscing</a></li>
                <li><a href="#">Nel auris fermentase</a></li>
               </ul>
               <div class="txt-al"><a href="#" class="button-1">View More<span></span></a></div>   
           </div>
           
           <div class="new">
              <div><span>Video <strong>Recipes</strong></span></div>
              <a href="#"></a>
           </div>
        
        </div>
         
     </div><!--the end of wrapper-->
  </div>
</section>
	