@model User
@{
    Layout = "~/Views/Shared/Home.cshtml";
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Form-v7 by Colorlib</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="~/LogReg/css/opensans-font.css">
	<link rel="stylesheet" type="text/css" href="~/LogReg/fonts/line-awesome/css/line-awesome.min.css">
	<!-- Jquery -->
	<link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
	<!-- Main Style Css -->
	<link rel="stylesheet" href="~/LogReg/css/style.css"/>
	<style>
		.custom-file-upload {
    position: relative;
    margin-bottom: 20px;
}

.file-upload {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-top: 8px;
}

.file-upload input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.file-upload-btn {
    display: inline-block;
    padding: 8px 20px;
    background-color: #7dcce6;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.file-upload-btn:hover {
    background-color:#7dcce6 ;
}
.custom-select-dropdown {
    margin-bottom: 20px;
}

.select-dropdown {
    position: relative;
    display: inline-block;
}

.select-dropdown select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 8px 30px 8px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    color: #333;

}

.select-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 6px 0 6px;
    border-color: #666 transparent transparent transparent;
    pointer-events: none;
}


	</style>


</head>
<body class="form-v7">
	<div class="page-content">
		<div class="form-v7-content">
			<div class="form-left">
				<img src="~/LogReg/images/signup.png" alt="form">
			</div>
			<form class="form-detail" asp-action="Register" method="post" enctype="multipart/form-data">
				<div class="form-row">
					<label for="Fname">FirstName</label>
					<input type="text" asp-for="Fname" id="Fname" class="input-text">
				</div>
				<div class="form-row">
					<label for="Lname">Lastname</label>
					<input type="text" asp-for="Lname" id="Lname" class="input-text">
				</div>
				<div class="form-row">
					<label for="username">USERNAME</label>
					<input type="text" name="username" id="username" class="input-text">
				</div>
			@*	<div class="form-row">
					<label asp-for="Roleid" class="control-label">Role</label>
					<select asp-for="Roleid" class="form-control" asp-items="ViewBag.Roleid"></select>
				</div>*@
				

				<div class="form-row">
					<label for="your_email">E-MAIL</label>
					<input type="text" asp-for="Email" id="your_email" class="input-text" />
				</div>
				@*<div class="form-row">
					<label asp-for="imagefile" class="control-label">Upload your photo</label>
					<input type="file" asp-for="imagefile" class="form-control" />
					<span asp-validation-for="imagefile" class="text-danger"></span>
				</div>*@
				<div class="form-row custom-file-upload">
    <label asp-for="imagefile" class="control-label">Upload your photo</label>
    <div class="file-upload">
        <input type="file" asp-for="imagefile" class="form-control" />
        <span class="file-upload-btn">Choose File</span>
    </div>
    <span asp-validation-for="imagefile" class="text-danger"></span>
</div>
				
				<div class="form-row">
					<label for="password">PASSWORD</label>
					<input type="password" name="password" id="password" class="input-text" required>
				</div>
				<div class="form-row">
					<label for="ReEnterPass">CONFIRM PASSWORD</label>
					<input type="password" name="ReEnterPass" id="ReEnterPass" class="input-text" required>
				</div>
				<div class="form-row custom-select-dropdown">
    <label asp-for="Roleid" class="control-label">Register As</label>
    <div class="select-dropdown">
        <select asp-for="Roleid" class="form-control" asp-items="ViewBag.Roleid"></select>
        <div class="select-arrow"></div>
    </div>
</div>

				
				<div class="form-row-last">
					<input type="submit" class="register" value="Register">
					<p>Or<a asp-controller="Account" asp-action="Login">Sign in</a></p>
				</div>
			</form>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
	<script>
		// Validation initialization
		jQuery.validator.setDefaults({
			debug: true,
			success: function (label) {
				label.attr('id', 'valid');
			},
		});
		$("#myform").validate({
			rules: {
				your_email: {
					required: true,
					email: true
				},
				password: "required",
				comfirm_password: {
					equalTo: "#password"
				}
			},
			messages: {
				username: {
					required: "Please enter a username"
				},
				your_email: {
					required: "Please provide an email"
				},
				password: {
					required: "Please provide a password"
				},
				comfirm_password: {
					required: "Please provide a password",
					equalTo: "Passwords do not match"
				}
			}
		});

	</script>

</body>
</html>
